<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<section id="community" th:fragment="community">
        <div class="community">
            <div class="community-text">
                <h2>Join the community</h2>
                <p>Enter your email address to receive regular updates, as well as news on upcoming events and specific offers.</p>
                <div class="community-email-box">
                    <input type="email" name="" id="" placeholder="Your email address">
                    <button>Subscribe <i class="fa-solid fa-angle-right"></i></button>
                </div>
            </div>
            <div class="community-img">
                <img src="images/revslider_book-4.png" alt="">
            </div>    
        </div>
    </section>
</body>
</html>