#loginContainer{
    height:100vh;
    width:100%;
    background: url("../images/book_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#loginContainer::after{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
}

#loginContainer *{
    z-index: 1;
}

#loginContainer .logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.loginDiv{
    padding:20px;
    border-radius: 5px;
    background: rgba(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(255 255 255 / 50%);
    width:350px;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.loginDiv>img{
    width:200px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    width:100%;

}

#loginContainer .input-container{
    display: flex;
    flex-direction: column;
    border:1px solid var(--primary-color);
    padding:8px;
    width: calc(100% - 16px);
    border-radius: 5px;
}

#loginContainer .input-container-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 16px);
    padding: 20px 0 ;
}

#loginContainer .input-container-btns button{
    border-radius: 5px;
    padding: 10px 20px;

}

label{
    color:var(--primary-color);
    font-weight: 600;
    font-size: 13px;
}

input[type=text],
input[type=password]{
    padding:5px 3px;
    outline:0;
    border:0; 
    background: transparent;
}

input[type=text]:focus,
input[type=password]:focus{ 
    background: transparent !important;
}

form a{
    font-size: 13px;
    transition: all 0.3s;
}
